<form action="/pizza-orders" method="post">

  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name">

  <label for="pizza-select">Select a Pizza</label>
  <select id="pizza-select" name="topping">
    <option Selected Disabled>Select a Pizza</option>
    <option value="Pepperoni">Pepperoni</option>
    <option value="Italian Sausage">Italian Sausage</option>
    <option value="Cheese & Tomatoe">Cheese & Tomatoe</option>
  </select>

  <label for="order-quantity">Quantity</label>
  <input type="number" name="quantity" id="quantity">

  <input type="submit" value="Order Pizza">

</form>
